.footer {
  width: 100%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background-2);
  font-size: 0.5em;
  align-items: center;
}

.dark-mode {
  display: flex;
}

.checkbox {
  margin: 0 15px;
  transform: scale(1.2);
}

img {
  height: 30px;
  width: 30px;
  margin-right: 15px;
}
