@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Noto+Serif+Hentaigana:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: #282c34;
  --color-background: #fbfbfb;
  --color-background-2: #e7e7e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #e7e7e7;
    --color-background: #282c34;
    --color-background-2: #202328;
  }
}

.theme-light {
  --color-primary: #282c34;
  --color-background: #fbfbfb;
  --color-background-2: #e7e7e7;
}

.theme-dark {
  --color-primary: #e7e7e7;
  --color-background: #282c34;
  --color-background-2: #202328;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-primary);
  font-family: "Noto Serif Hentaigana", "Times New Roman", "Georgia", serif;
}

.App-header {
  height: 3.2em;
  width: 100%;
  background-color: var(--color-background-2);
}

.App-body {
  flex: 1;
  width: 100%;
  background-color: var(--color-background);
  font-size: 1em;
  font-family: "Bodoni Moda", "Times New Roman", "Georgia", serif;
}

.App-footer {
  width: 100%;
}

.yellow {
  background: #f7d921;
}

.white {
  background: #e7e7e7;
}
